.tooltip .tooltip-arrow {
  display: none !important;
}
.templateStyle {
  .template {
    min-width: 80vw;
  }

  height: 100vh;
  min-width: 100%;
  .inputToDisplayLicense,
  .inputToDisplayLicense:focus {
    border: 1px solid black;
    box-shadow: none;
  }
  .copy {
    position: relative;
  }
  .copy-btn {
    position: absolute;
    right: 1px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    top: 0;
  }

  .product-key {
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1)
    );
    box-shadow: 13px 13px 21px -18px #333;
  }
  .instructions {
    text-align: left;
    margin-bottom: 0px;
    padding-left: 1.2rem;
    a {
      color: #14d101;
    }
  }
  .instruct a {
    color: #ed8e20;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .text-left {
    text-align: left;
  }
  .logo-link {
    color: white;
  }
  .logo {
    max-width: 300px;
  }
}
