.AdminLogin {
  height: 100vh;
  form {
    background: white;
    padding: 50px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 0.25rem;
  }
}
